
    <title>Sistema Gerenciamento Colory</title>

    
<!-- Dropdown Structure -->
<% if logged_in? %>
  
  <%= render "layouts/menu" %>

  <%= render partial: "turmas/index" %>

<% else %>
	<h3 class="center-align">Acesso negado, por favor realize login</h3>
<% end %>
        
